body {
  font-family: Roboto, sans-serif;
  background-color: #f1f5f8;
}

h2 {
  margin-top: 5px;
  position: relative;
  font-size: 3em;
  letter-spacing: 2px;
  text-align: center;
}

h2::before {
  content: "";
  position: absolute;
  width: 70px;
  height: 5px;
  background-color: #4ba6ea;
  bottom: 0px;
  left: calc(50% - 25px);
}

#container {
  width: 80%;
  background-color: rgb(255, 255, 255);
  margin: auto;
  margin-top: 50px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(162, 160, 160);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  text-align: center;
}

@media screen and (max-width: 700px) {
  #container {
    width: 90%;
  }
}

#teamMemberPic {
  position: relative;
}

#teamMemberPic img {
  width: 200px;
  border-radius: 500px;
  box-shadow: 8px -8px 2px #49a6ea;
}

#teamMemberPic i {
  position: absolute;
  left: 10px;
  top: 20px;
  color: #fff;
  background-color: #49a6ea;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  padding-top: 12px;
}

#teamMemberName {
  padding-top: 20px;
  font-size: 1.3em;
  font-weight: 800;
  letter-spacing: 8px;
}

#teamMemberPosition {
  color: #4ba6ea;
  padding-bottom: 20px;
}

.quotes {
  padding-top: 10px;
  padding: 10px 0px 10px 0px;
}

.quotes i {
  font-size: 2em;
  color: #4ba6ea;
  padding: 0px 20px 0px 20px;
}

button {
  color: #4ba6ea;
  border-color: #4ba6ea;
  border-radius: 5px;
}

.deactive {
  color: gray !important;
}

.active {
  color: #4ba6ea !important;
}